#navigationList { margin: 0; padding: 0 0 20px 10px; border-bottom: 1px solid #000; }

#navigationList ul, #navigationList li { margin: 0; padding: 0; display: inline; list-style-type: none; }

#navigationList li { float: left; line-height: 14px; font-weight: bold; margin: 0 10px 4px 10px; text-decoration: none; color: #999; }

#navigationList li a { text-decoration: none; color: #999; margin: 0 0 0 0; line-height: 14px }

#navigationList #selectedNav { border-bottom: 4px solid #000; padding-bottom: 2px; background: transparent; color: #000; }

#navigationList a:hover { border-bottom: 4px solid #666; background: transparent; color: #000; }

#navigationList a:hover { color: #000; }

div#editForm { margin: 5px }

.old {color: gray}

.quote {font-style: italic}

td.changed	{ color: red }

.chooseCharacter, .chooseLocation	{ font-size: 135%; font-weight: bold; background-color: #fddfb1; border: 0px}

#namedEntityID	{ font-style: italic; color: #777777 }

button#saveChanges { margin-left: 200px }