body {
  font-family: Courier;
  font-size: 12pt;

  margin-left: 1.5in;
  margin-right: 1.0in;
  margin-top: 0.5in;
  margin-bottom: 1.5in;
}

@page
{
  size: 8.5in 11in;
}

.front {
  text-align: center;
}

.front .title
{
  text-transform: uppercase;
}

.front .creator
{
  margin-bottom: 22pt;
}

.front .date
{
  text-align: right;
}

.front .description
{
  margin-left: 1.5in;
  margin-right: 1.5in;
  text-align: left;
}

.camera
{
  margin-bottom: 11pt;
}

.camera .target
{
  text-transform: uppercase;
}

.camera .direction
{
}

.location {
  margin-bottom: 11pt;
}

.direction {
  margin-bottom: 11pt;
}

.transition {
  text-align: right;
  margin-bottom: 11pt;
}

.dialogue {
  margin-left: 1.5in;
  margin-right: 1.5in;
  width: 2.8in;
  margin-bottom: 11pt;
}

.dialogue .speaker {
  text-transform: uppercase;
  margin-left: 1.0in;
}

.dialogue .parenthetical {
  margin-left: 0.7in;
  width: 1.5in;
}

.dialogue .dialogue_text {
  

}
